/* fix the styling from generated openAPI documentation */

@layer api {
  .entry-badge {
    color: var(--primary) !important;
    background: linear-gradient(20deg, #ffce96, #ffadd9);
  }

  .method {
    border: none !important;
    border-radius: var(--radius) !important;
    padding: 3px 8px 2px 8px;
    letter-spacing: 0.75px;
    color: var(--primary) !important;
    font-weight: 500 !important;
    background: linear-gradient(20deg, #ffce96, #ffadd9);
  }

  .method-path .path {
    align-self: center;
  }

  .operation-description-urls {
    border-radius: var(--radius) !important;
  }

  .panel {
    background: var(--background) !important;
    border-radius: var(--radius) !important;
    padding: 1.25rem;
    margin-top: 1rem;
  }

  .panel .expressive-code {
    width: fit-content;
  }

  .panel .frame pre {
    border: none !important;
    border-radius: var(--radius) !important;
    background: var(--code-background) !important;
  }

  starlight-openapi-content-picker select {
    background-color: var(--background) !important;
    border: none !important;
    font-weight: 500;
    color: var(--foreground);
  }
}
