@layer theme {
  :root:root {
    --sl-font: "Geist Sans", sans-serif;
    --sl-font-mono: "Geist Mono", monospace;

    --radius: 0.5rem;

    --sl-color-text-accent: var(--primary);

    --sl-color-banner-text: var(--foreground);

    --gradient-hero-fade: linear-gradient(
      to bottom,
      var(--background) 0%,
      transparent 40%,
      transparent 50%,
      var(--background) 100%
    );

    --gradient-heading-primary: linear-gradient(
      20deg,
      oklch(0.7576 0.159 55.93),
      oklch(0.7253 0.1752 349.76)
    );

    --gradient-heading-secondary: linear-gradient(
      20deg,
      oklch(0.7576 0.159 55.93),
      oklch(0.7253 0.1752 349.76)
    );

    --gradient-diagram-bg: linear-gradient(
      20deg,
      oklch(0.708 0.1888 232.53 / 16%),
      oklch(0.5731 0.3008 309.53 / 14%)
    );
  }

  :root[data-theme="light"] {
    --sl-color-banner-bg: oklch(0.97 0.01 255);
    --sl-color-banner-border: oklch(0.55 0.22 263);

    --gradient-diagram-bg: linear-gradient(
      20deg,
      oklch(0.708 0.1888 232.53 / 12%),
      oklch(0.5731 0.3008 309.53 / 7%)
    );

    --gradient-aside-tip: linear-gradient(
      20deg,
      oklch(0.92 0.0467 240),
      oklch(0.92 0.07 330)
    );

    --gradient-aside-note: linear-gradient(
      20deg,
      oklch(0.9 0.0571 290),
      oklch(0.9 0.0527 270)
    );

    --gradient-aside-caution: linear-gradient(
      20deg,
      oklch(0.88 0.05 15),
      oklch(0.938 0.08 85)
    );

    --gradient-aside-danger: linear-gradient(
      20deg,
      oklch(0.9 0.09 340),
      oklch(0.86 0.09 27)
    );

    --gradient-api-badge: linear-gradient(
      20deg,
      oklch(0.8815 0.0906 69.96),
      oklch(0.8392 0.11 346.33)
    );

    --background: #ffffff;
    --background: oklch(1 0 0);
    --foreground: #242424;
    --foreground: oklch(0.145 0 0);
    --card: #ffffff;
    --card: oklch(1 0 0);
    --card-foreground: #242424;
    --card-foreground: oklch(0.145 0 0);
    --popover: #ffffff;
    --popover: oklch(1 0 0);
    --popover-foreground: #242424;
    --popover-foreground: oklch(0.145 0 0);
    --primary: #343434;
    --primary: oklch(0.205 0 0);
    --primary-foreground: #fbfbfb;
    --primary-foreground: oklch(0.985 0 0);
    --secondary: #f7f7f7;
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: #343434;
    --secondary-foreground: oklch(0.205 0 0);
    --muted: #f7f7f7;
    --muted: oklch(0.97 0 0);
    --muted-foreground: #8e8e8e;
    --muted-foreground: oklch(0.556 0 0);
    --accent: #f7f7f7;
    --accent: oklch(0.97 0 0);
    --accent-foreground: #343434;
    --accent-foreground: oklch(0.205 0 0);
    --destructive: #dc2626;
    --destructive: oklch(0.577 0.245 27.325);
    --border: #ebebeb;
    --border: oklch(0.922 0 0);
    --input: #ebebeb;
    --input: oklch(0.922 0 0);
    --ring: #b5b5b5;
    --ring: oklch(0.708 0 0);
    --code-background: #f7f7f7;
    --code-background: oklch(0.97 0 286);
    --mark-background: #ebebeb;
    --mark-background: oklch(0.92 0 286);
  }

  :root[data-theme="dark"] {
    --sl-color-banner-bg: oklch(0.28 0.09 268);
    --sl-color-banner-border: oklch(0.38 0.14 266);

    /* --gradient-diagram-bg: linear-gradient( */
    /*   20deg, */
    /*   oklch(0.2365 0.063 238.29 / 80%), */
    /*   oklch(0.1753 0.0788 297.77 / 80%) */
    /* ); */

    --gradient-aside-tip: linear-gradient(
      20deg,
      oklch(0.35 0.09 248),
      oklch(0.35 0.09 328)
    );
    --gradient-aside-note: linear-gradient(
      20deg,
      oklch(0.35 0.09 290),
      oklch(0.35 0.09 260)
    );
    --gradient-aside-caution: linear-gradient(
      20deg,
      oklch(0.35 0.09 20),
      oklch(0.35 0.09 90)
    );
    --gradient-aside-danger: linear-gradient(
      20deg,
      oklch(0.35 0.1 340),
      oklch(0.35 0.1 25)
    );
    --gradient-api-badge: linear-gradient(
      20deg,
      oklch(0.65 0.15 70),
      oklch(0.6 0.18 45)
    );

    --background: #242424;
    --background: oklch(0.145 0 0);
    --foreground: #fbfbfb;
    --foreground: oklch(0.985 0 0);
    --card: #343434;
    --card: oklch(0.205 0 0);
    --card-foreground: #fbfbfb;
    --card-foreground: oklch(0.985 0 0);
    --popover: #454545;
    --popover: oklch(0.269 0 0);
    --popover-foreground: #fbfbfb;
    --popover-foreground: oklch(0.985 0 0);
    --primary: #ebebeb;
    --primary: oklch(0.922 0 0);
    --primary-foreground: #343434;
    --primary-foreground: oklch(0.205 0 0);
    --secondary: #454545;
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: #fbfbfb;
    --secondary-foreground: oklch(0.985 0 0);
    --muted: #454545;
    --muted: oklch(0.269 0 0);
    --muted-foreground: #b5b5b5;
    --muted-foreground: oklch(0.708 0 0);
    --accent: #606060;
    --accent: oklch(0.371 0 0);
    --accent-foreground: #fbfbfb;
    --accent-foreground: oklch(0.985 0 0);
    --destructive: #ef4444;
    --destructive: oklch(0.704 0.191 22.216);
    --border: rgba(255, 255, 255, 0.1);
    --border: oklch(1 0 0 / 10%);
    --input: rgba(255, 255, 255, 0.15);
    --input: oklch(1 0 0 / 15%);
    --ring: #8e8e8e;
    --ring: oklch(0.556 0 0);
    --code-background: #353535;
    --code-background: oklch(0.21 0.01 286);
    --mark-background: #5e5e5e;
    --mark-background: oklch(0.37 0.01 286);
  }
}
